body {
	background: #FFFFF0;
	font-family: 'Open Sans', sans-serif;
}

header {
	background-color: unset !important;
	padding: 8px 16px;
	font-weight: lighter;
	color: #535353;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header * {
	color: #535353 !important;
}

footer {
	background-color: unset !important;
	padding: 8px 16px;
	font-weight: lighter;
	color: #535353;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer::before {
	content: unset;
	display: unset;
	border: unset;
	width: unset;
}

article:not(:last-child) {
	border-bottom: 1px dotted #535353;
	margin-bottom:10px;
}

.btn {
	color: #000;
	border: 1px solid #000;
	padding: 12px;
	text-align: center;
}

hr {
	width: 100%;
}

article {
	display: flex;
	flex-direction: column;

	font-size: unset !important;
	line-height: unset !important;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.date {
	color: #535353;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.quote {
	display: flex;
	flex-direction: column;
}

.quote .author {
	text-align: center;
}

img {
	max-width: 50%;
}

.btn.large {
	padding: 12px 32px;
}

.btn:visited {
	color: #000;
}

.btn:hover {
	color: #fff;
	background: #000;
}

.btn-list {
	display: flex;
	justify-content: space-evenly;
}

blockquote {
	display: flex;
	flex-direction: column;
	font-weight: lighter;
}

blockquote.border {
	border: 1px solid #000;
	padding: 16px;
}

blockquote .middle {
	align-self: center;
}

blockquote .right {
	align-self: end;
}

@media (max-width: 800px) {
	header {
		flex-direction: column;
		justify-content: unset;
		align-items: center;
		gap: 8px;
	}

	footer {
		flex-direction: column;
		justify-content: unset;
		align-items: center;
		gap: 8px;
	}

	.date {
		flex-direction: column;
		justify-content: unset;
		gap: 8px;
	}

	.btn-list {
		flex-direction: column;
		gap: 16px;
	}

	blockquote * {
		text-align: center;
		align-self: center;
	}

	blockquote .middle {
		align-self: center;
	}
	
	blockquote .right {
		align-self: center;
	}

	img {
		max-width: 90%;
	}
}